<div class="row">
  <div class="col-md-3 dashnav">
    <%= render :partial => 'nav' %> 
  </div>
  <div class="col-md-7">

    <h1>Welcome to your Dashboard</h1>
    <h2>Click The Links On The Left to Cycle Thru The Categories.</h2>
  </div>

</div>